.add-user-note {
  color: #637488;
  font-size: 12px;
  letter-spacing: "-0.26px";
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

.add-user-second-section {
  margin-top: 48px;
  margin-bottom: 16px;
}
