.form-empty-note{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #caced3;
    font-weight: 500px;
    font-size: 34px;
    letter-spacing: -2px;
    flex: 1;
    line-height: 1.53;

}