.corporate-panel-container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-summary-container {
  border-bottom: 0px !important;
}

.user-details-container {
  margin-left: 44px !important;
  margin-right: 25px !important;
  padding-bottom: 16px !important;
  padding-left: 0px !important;
  flex-direction: column;
}
