.corporate-details-item-col-title {
    font-size: 10px ;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.21px;
    color: #9babbf;
    padding-bottom:2px ;
}